---

import Header from "../pages/components/header.astro"
import Footer from  "../pages/components/footer.astro"
// import Navigation from "../pages/components/navigation.astro"
const pagetitle= "HOME PAGE";
import "../pages/styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>pagetitle</title>
		<style>
			
			body{
				background-color: rgb(4, 114, 59);
			}

		</style>
	</head>
	<body>
<Header />
		<h1>{pagetitle}</h1>
		<Footer />
	</body>
</html>
